FIREBASE_SERVICE_ACCOUNT_PATH=.firebase/service-account.json
FIREBASE_PROJECT_ID=chatapp-4aeb4

SEED_COUPLE_ID=main-couple
SEED_COUPLE_DISPLAY_NAME=Our Space
SEED_ANNIVERSARY_DATE=2020-06-14

SEED_PARTNER_A_EMAIL=you@example.com
SEED_PARTNER_A_PASSWORD=change-this-password
SEED_PARTNER_A_DISPLAY_NAME=You

SEED_PARTNER_B_EMAIL=wife@example.com
SEED_PARTNER_B_PASSWORD=change-this-password
SEED_PARTNER_B_DISPLAY_NAME=Wife
